{% extends 'base.html' %}

{% block title %}SDU Fixie Assistant Environment{% endblock %}
{% block extra_style %}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column; /* Stack vertically */
        justify-content: center;
        align-items: center;
    }

    /* This ensures that the .container class takes up the full viewport height */
    .container {
        width: 100%; /* Full width */
        height: 100vh; /* 100% of the viewport height */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        margin-bottom: 1rem; /* Adjusted space between the title and buttons */
    }

    /* This class will be applied to the div that contains the buttons */
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; /* Align buttons in a row */
        flex-wrap: wrap; /* Wrap buttons to the next line if space runs out */
    }

    .btn-round {
        font-size: 3rem; /* Larger font size for visibility */
        padding: 2rem; /* Larger padding for bigger buttons */
        margin: 1rem; /* Space around buttons */
        border-radius: 50%; /* Fully round edges */
        display: inline-block; /* Wrap text inside the buttons */
        width: 250px; /* Fixed width for uniformity */
        height: 250px; /* Fixed height for uniformity */
        line-height: 250px; /* Center text vertically */
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to the SDU Fixie Assistant Environment</h1>
    <div class="button-container">
        <a href="{% url 'scopus_metrics' %}" class="btn btn-round">Scopus Metrics</a>
        <a href="{% url 'react' %}" class="btn btn-round">React</a>
        <a href="{% url 'django' %}" class="btn btn-round">Django</a>
    </div>
</div>
{% endblock %}